<div class="term">
  <h2>TERM AND CONDITION !</h2>
  <h5>
    <a routerLink="/form-and-gallery" routerLinkActive="active"> Submit Info</a>
  </h5>
  <p>
    <strong>1.</strong> Vietnam Visa on arrival or Vietnam landing visa or E-visa is the same type of visa that you will
    be picked
    visa stamp and visa sticker at the Vietnam international airports (Ha Noi Capital, Da Nang City or Ho Chi Minh
    City...) <br>

    This is the best way to get your Vietnam entry visa for normal passport holder with purpose of tourist. No
    need
    send your passport to anywhere, no document needed, and it is so fast, easy, reliable,…. You just need to fill
    in our "Online Application Form", pay the service fee, get your "Visa approval letter" within 2 working days
    and
    pick up your visa at your destination international airport in Vietnam. <br>

    Noted: Only travelers by air to Vietnam international airports. Your passport must be valid for at least 6
    months beyond your planned stay in Vietnam. You are unable to enter Vietnam earlier than the date which state
    on
    your Vietnam visa approval letter. <br>

    <strong>2.</strong> Vietnam Visa Fee Instructions: In order to get your Vietnam visa, you should pay two kinds of
    fees: Service
    fee and Stamping fee <br>

    • Service fee is the fee you pay to us for doing all the paper work for you to submit your visa application to
    the Vietnam Immigration Department for processing their visa approval letters. <br>
    • Stamping fee (Gratis for Russian) is the fee you pay directly to Immigration Officers in cash (in USD or
    VND)
    (at Immigration Desk/Counter) at your arrival airport in Vietnam to have visa stamped onto your passport. The
    fee is collected by the Immigration Officers and compulsory for all those who use visa on arrival method.
    ($25/single entry visa, $50/multiple entry visa, $135/one year visa with mutilple entry). <br>

    <strong>3.</strong> After you submit your application and payment, we will start processing your visa. After 2
    working days, we
    will send an approval letter (pre-approved visa letter) to you by email. Then you just need to print the
    images
    file (color preferred, but not required) and prepare at least 2 passport sized photos (4cm x 6cm). <br>

    Upon arrival at Vietnam international airports, expect to fill in a simple form, present the your approval
    letter, passport, photos, and pay for the stamping fee. Without hassle or trouble. <br>

    <strong>4.</strong> At the moment, visa on arrival and evisa is not applicable for Nigeria, Cameroon, Mozambique,
    Congo, Ghana,
    Sierra Leone, Pakistan, Iran, Iraq, Yemen, Syria, Afghanistan, Lybia, Bangladesh, Lebanon, Sri Lanka, Sudan,
    Turkey passport holders. Kindly contact the nearest Vietnam Embassy/Consulate to apply for a visa. <br>

    <strong>5.</strong> Money back guarantee: <br>
    We pride ourselves on getting things right. That doesn’t mean we’re perfect, but when we make mistakes we fix
    them. <br>

    Beside of offering the best services regarding to Vietnam visa processing, we also guarantee to offer a full
    refund in the following cases. <br>
    • The services were not served as your request. <br>
    • The customer visa application was denied by Vietnam Immigration Department. <br>

    We – Little DaNang – would like to thank you so much for your attention in Little DaNang! <br>
  </p>
</div>
