#dvImage {
  /* min-height: 75vh; */
  min-height: 100vh;
  background-repeat: no-repeat;
}

#dvImage>div {
  font-family: "Kaushan script";
  width: fit-content;
  padding-top: 40vh;
  margin: auto 15vw;
  color: rgb(119, 238, 51);
  text-align: center;
}

#dvImage>div>h1 {
  background-color: rgba(0, 0, 255, 0.555);
  padding: 20px;
}

@media only screen and (min-width: 576px) {
  #dvImage>div {
    display: none;
  }
}

/* #dvImage app-form-and-gallery {
  position: absolute;
  top: 7.5vh;
  left: 19vw;
  width: 60vw;
  height: 500px;
  background-color: rgba(0, 0, 255, 0.534);
} */
