<!-- Button trigger modal -->
<img src="./assets/imgs/gallery/banco2.jpg" data-toggle="modal" data-target="#banco2" />

<!-- Modal -->
<div class="modal fade" id="banco2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="./assets/imgs/gallery/banco2.jpg" alt="" srcset="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
