<!-- <p>dashboard works!</p> -->
<div class="dashboard">

  <div name="" id="visas_provider" routerLink="/visa" routerLinkActive="active" class="col-xs-12 btn btn-primary"
    role="button">
    <span>PROVIDING VISAS</span>
  </div>
  <div name="" id="admins_controller" class="col-md-6 col-xs-12 btn btn-primary" role="button">
    <span>CONTROL ADMINS 'S ROLE</span>
  </div>
  <div name="" id="histories_manager" class="col-md-6 col-xs-12 btn btn-primary" role="button">
    <span>MANAGE HISTORIES OF SESSIONS</span>
  </div>
</div>
