.history {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgb(0, 204, 255);
  text-align: center;
}

/* .history input[type='text'] {
  width: 80vw;
  line-height: 3em;
  margin: 1em auto;
} */

.history input[type="radio"] {
  margin-left: 0.5em;
}

#myInput {
  width: 80%;
  /* increase-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 1em;
  /* Add some space below the input */
}

#myTable {
  border-collapse: collapse;
  /* Collapse borders */
  width: 100%;
  /* Full-width */
  border: 1px solid #ddd;
  /* Add a grey border */
  font-size: 18px;
  /* Increase font-size */
  margin-bottom: 0.75em;
  /* margin distance bottom */
}

#myTable th,
#myTable td {
  text-align: left;
  /* Left-align text */
  padding: 12px;
  /* Add padding */
  overflow: hidden;
  word-break: break-word;
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

#myTable tr.header,
#myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
